# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.9 30 2021 2D Top Down Shooter Demo.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
